# The directory Mix will write compiled artifacts to.
/uploader/_build/

# If you run "mix test --cover", coverage assets end up here.
/uploader/cover/

# The directory Mix downloads your dependencies sources to.
/uploader/deps/

# Where third-party dependencies like ExDoc output generated docs.
/uploader/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/uploader/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/uploader/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
/uploader/*.ez

# Ignore package tarball (built via "mix hex.build").
/uploader/uploader-*.tar

